html {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2rem; }

body {
  color: #404040;
  background-image: radial-gradient(circle, #2471A3, #1F618D, #1A5276, #154360);
  font-size: 1rem; }

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.full-container {
  width: 100%;
  margin: 0 auto;
  border: 0px solid yellow; /*for debugging purposes, change to 1px solid red */
}

.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px solid red; /*for debugging purposes, change to 1px solid red */
}

.statsButtonContainer {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid red; /*for debugging purposes, change to 1px solid red */
}

/* Formatting columns
  =============== */

.logocolumn {
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid lightgreen; /*for debugging purposes, change to 1px solid lightgreen */
}

.titlecolumn {
  float: left;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border: 0px solid lightgreen; /*for debugging purposes, change to 1px solid lightgreen */
}

.labelcolumn {
  float: left;
  width: 16%;
  border: 0px solid lightgreen; /*for debugging purposes, change to 1px solid lightgreen */
}

.pagecolumn {
  float: left;
  width: 42%;
  border: 0px solid blue; /*for debugging purposes, change to 1px solid blue */
}

.killButtonColumn {
  float: left;
  width: 58%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid magenta; /*for debugging purposes, change to 1px solid blue */
}

.statsButtonColumn {
  float: left;
  width: 42%;
  height: 100%;
  align-content: flex-end;
  justify-content: center;
  margin: 0 auto;
  border: 0px solid white; /*for debugging purposes, change to 1px solid blue */
}

/* Visible Tables
  =============== */

.labeltable,
.livetable,
.overalltable {
  width: 90%;
}

div.title {
  text-align: center;
  font-size: 200%;
  font-weight: 600;
  text-shadow: 2px 2px 0px #000;
  color: #FFFFFF;
  text-decoration: underline;
}

div.tableTitle {
  text-align: center;
  font-size: 125%;
  text-decoration: underline;
  text-shadow: 1px 1px 0px #000;
  color: #FFFFFF;
}

div.tableSmallTitle {
  text-align: center;
  font-size: 110%;
  text-shadow: 2px 2px 0px #000;
  color: #FFFFFF;
}

th.lcol,
td.lcol {
  font-weight: bold;
  text-align: center;
  padding: 2px;
  width: 80px;
}

th.othercol,
td.othercol {
  text-align: center;
  padding: 2px;
  width: 10%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 100px;
}

body {
  margin: 0; }

thead th {
  border-bottom: 2px solid #dedede; }

tfoot th {
  border-top: 2px solid #dedede; }

td {
  border-bottom: 2px solid #dedede; }

th,
td {
  text-align: left;
  padding: 0rem;
  border: 1px solid rgb(190, 190, 190); }

/* Button Formatting
  =============== */

.killButton {
  width: 92%;
  height: 90%;
  border: 1px solid #6b6b6b;
  background-color: #f02c1d;
  color: white;
  font-size: 70px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.clearStatsButton {
  width: 90%;
  height: 80%;
  border: 1px solid #6b6b6b;
  background-color: #8c8c8c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.downloadLogsButton {
  width: 90%;
  height: 80%;
  border: 1px solid #6b6b6b;
  background-color: #8c8c8c;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.killButton:hover {
  background-color: #ff5347;
  color:black;
}

.clearStatsButton:hover {
  background-color: #e3e3e3;
  color:black;
}

.downloadLogsButton:hover {
  background-color: #e3e3e3;
  color:black;
}

/* Reset
  =============== */

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }